.cont {
    display: flex; 
    flex-wrap: wrap; // contenedor de una o varias líneas
    justify-content: center;

}

.cardConteiner {
    position: relative;
    margin: 30px 10px 90px 10px;
    align-items: center;
}

.Card {
    height: 700px;
    width: 410px;
    border:1px solid red;
}

