.cont {
    display: flex; 
    flex-wrap: wrap; // contenedor de una o varias líneas
    justify-content: center;
}

.cardConteiner {

    position: relative;
    margin: 30px 10px 90px 10px;
    align-items: center;
}

.Card {
    height: 800px;
    width: 410px;
    border-radius: 3px;
    border: 1px solid #f96d00;
    .title{
        align-items: center;
    }
    .fixImage{
        border: 1px solid #141010;
        border-radius: 7px;
    }.fixImage:hover{
        transition: 200ms;
        border: 1px solid #900a63;
    }
    .subTitle{
        text-align: center;
    }
}

